@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
    margin: 0px;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    color: #2c352d;
}

body {
    background-color: #e0e7e0;
}

.jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 162px;

    & .nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 32px 0px;
        justify-content: center;
        align-items: center;

        & .nav-link {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 16px;

            & a {
                text-decoration: none;
                padding: 8px 24px;
                border-radius: 4px;
                font-weight: 600;
                font-size: medium;
            }

            & a:hover {
                color: white;
                background-color: #2c352d;
            }
        }
    }

    & .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & img {
            width: 320px;
        }
    }

    & .profile {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        & .profile-content {
            gap: 32px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & .text {
                width: 80%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                gap: 8px;
                justify-content: center;
                justify-items: center;

                & h1 {
                    font-size: 20px;
                    font-weight: 600;
                }

                & h2 {
                    font-size: 16px;
                    font-weight: 500;
                }

                & p {
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 0.04em;
                    line-height: 1.5;
                    width: 100%;
                }
            }

            & img {
                border-radius: 8px;
            }
        }
    }

    & .education {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        & .education-content {
            height: fit-content;
            gap: 32px;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;

            & h1 {
                font-size: 24px;
                font-weight: 600;
            }

            & .card-container {
                display: flex;
                width: 80%;
                flex-direction: column;
                gap: 32px;

                & .card {
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;
                    gap: 16px;
                    padding: 32px;
                    border-radius: 8px;
                    border-style: solid;
                    border-color: #59735b;
                    background-color: #c0cfc0;

                    & h2 {
                        text-align: center;
                        font-size: 18px;
                        font-weight: 600;
                    }

                    & h3 {
                        text-align: center;
                        font-size: 16px;
                        font-weight: 500;
                    }

                    & p {
                        text-align: center;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    & .skill {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        & .skill-content {
            height: fit-content;
            gap: 32px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & h1 {
                font-size: 24px;
                font-weight: 600;
            }

            & .skill-container {
                display: flex;
                flex-wrap: wrap;
                width: 80%;
                flex-direction: row;
                justify-content: center;
                gap: 32px;

                & .skill-card {
                    display: flex;
                    flex-direction: column;
                    max-width: 412px;
                    gap: 16px;
                    text-align: center;
                    padding: 32px;
                    border-radius: 8px;
                    border-style: solid;
                    border-color: #59735b;
                    background-color: #c0cfc0;

                    & h2 {
                        font-size: 16px;
                        font-weight: 600;
                    }

                    & p {
                        font-size: 14px;
                        font-weight: 400;
                    }

                    & .skill-image {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        max-width: 100%;
                        gap: 24px;
                        justify-content: center;
                    }
                }
            }
        }
    }

    & .portfolio {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        & .portfolio-content {
            height: fit-content;
            max-width: 80%;
            gap: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & h1 {
                font-size: 24px;
                font-weight: 600;
            }

            & p {
                font-size: 16px;
                font-weight: 400;
            }

            & .portfolio-container {
                display: flex;
                flex-wrap: wrap;
                margin-top: 24px;
                width: 100%;
                flex-direction: row;
                justify-content: center;
                gap: 32px;

                & .portfolio-card {
                    display: flex;
                    flex-direction: column;
                    width: 86%;
                    gap: 16px;
                    text-align: center;
                    justify-content: space-between;
                    padding: 24px;
                    border-radius: 8px;
                    border-style: solid;
                    border-color: #59735b;
                    background-color: #c0cfc0;

                    & img {
                        border-radius: 4px;
                    }

                    & h2 {
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    & .contact {
        background-color: #2c352d;
        height: auto;
        display: flex;
        padding: 64px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .contact-content {
            height: fit-content;
            gap: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & .menu-content {
                display: flex;
                flex-direction: column;
                gap: 8px;
                justify-content: center;
                align-items: center;

                & a {
                    color: white;
                    border-radius: 8px;
                    padding: 8px;
                    text-align: center;
                    width: 128px;
                    font-weight: 600;
                    font-size: 16px;
                    text-decoration-line: none;
                }

                & a:hover {
                    background-color: white;
                    color: #2c352d;
                }
            }

            & p {
                font-size: x-small;
                letter-spacing: 0.04em;
                color: white;
                font-weight: 400;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #nav {
        justify-content: center;
        align-items: center;

        & .nav-link {
            flex-wrap: nowrap;
            gap: 32px;
        }
    }

    #container {

        & img {
            width: 420px;
        }
    }

    #about {
        height: 100vh;

        & .profile-content {
            display: flex;
            flex-direction: row;

            & .text {
                width: 40%;
                gap: 16px;

                & h1 {
                    font-size: 24px;
                }

                & h2 {
                    font-size: 20px;
                }

                & p {
                    font-size: 18px;
                }
            }
        }
    }

    #education {
        height: 100vh;

        & .education-content {
            & h1 {
                font-size: 28px;
            }

            & .card-container {
                width: 100%;
                flex-direction: row;

                & .card {
                    max-width: 326px;

                    & h2 {
                        font-size: 20px;
                    }

                    & h3 {
                        font-size: 18px;
                    }

                    & p {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    #skill {
        height: 100vh;

        & .skill-content {
            & h1 {
                font-size: 28px;
            }

            & .skill-container {
                & .skill-card {
                    & h2 {
                        font-size: 20px;
                    }

                    & p {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    #portfolio {
        height: 100vh;

        & .portfolio-content {
            & h1 {
                font-size: 28px;
            }

            & p {
                font-size: 20px;
            }

            & .portfolio-container {
                & .portfolio-card {
                    max-width: 512px;
                    padding: 32px;

                    & h2 {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    #contact {
        & .contact-content {
            gap: 42px;

            & .menu-content {
                flex-direction: row;
                gap: 32px;

                & a {
                    font-size: small;
                }
            }

            & p {
                font-size: smaller;
            }
        }
    }
}